* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	text-align: center;
}

body {
	color: #5a5c5f;
}

.container {
	margin: 0 30px;
}

/* header */

.logo {
	display: none;
}

header {
	height: 56px;
	background-color: #fff;
	font-size: 14px;
	line-height: 56px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	box-shadow: 0px -3px 11px #b7b7b7;
}

header ul {
	display: flex;
	justify-content: center;
}

header li {
	margin-right: 10px;
	margin-top: 3px;
	line-height: 50px;
	height: 50px;
	padding: 0 5px;
	text-decoration: underline;
	color: #5a5c5f;
}

header li:hover {
	background-color: #e2f1ff;
	transition: all 0.8s ease;
	cursor: pointer;
}

a {
	color: #5a5c5f;
}

/* contents */


/* footer */

footer {
	margin-top: 60px;
	padding-top: 25px;
	background-color: #2f3a44;
	height: 110px;
	color: #fff;
}

.footer-left {
	float: left;
}

.share-button {
	padding-top: 10px;
	text-align: left;
}

.footer-right {
	float: right;
	padding-top: 20px;
}

@media screen and (min-width: 517px) {
	#top_img {
		height: 410px;
	}
}

@media screen and (min-width: 671px) {
	.logo {
		display: block;
		float: left;
		padding-top: 8px;
	}

	header ul {
		float: right;
		font-size: 16px;
	}
}

@media screen and (min-width: 1025px) {
	.container {
		width: 1025px;
		margin: auto;
	}
}
