@media screen and (min-width: 517px) {
	#top_img {
		height: 410px;
	}
}

@media screen and (min-width: 671px) {
  header a:hover {
	background-color: #e2f1ff;
	transition: all 0.8s ease;
	cursor: pointer;
}

  a {
    color: #5a5c5f;
    padding: 18px 10px;
    line-height: 56px;
  }

	.fas.fa-bars {
		display: none;
	}

	.logo {
		float: left;
	}

	#toggle_menu {
		display: none;
	}

	#pc_menu {
		display: block;
		float: right;
	}

	#pc_menu > ul {
		display: flex;
		justify-content: center;
		float: right;
		font-size: 16px;
	}

	.map {
		width: 600px;
	}

	input,
	textarea {
		width: 410px;
	}

	.button {
		width: 80px;
	}
}

@media screen and (min-width: 1025px) {
	.container {
		width: 1000px;
		margin: auto;
	}
}
